<% if @restaurants.length > 0 %>
  <% @restaurants.each do |restaurant| %>
    <%= restaurant.name %>
  <% end %>
<% else %>
  No restaurants yet
<% end %>

<a href="/restaurants/new">Add a restaurant</a>